{% extends "base.html" %}

{% block title %}About IFB's Publication{% endblock %}

{% block content %}

<div class="row-fluid">
<div class="span12">
	<h3 class="underline">About</h3>
        <p>BioPOL Journal (Bioinformatic Processing On Line) is a collection of articles and their demonstrations for <a href="https://en.wikipedia.org/wiki/Bioinformatics">Bioinformatic analysis</a> </p>

        <p>BioPOL has relationship with  <a href="http://www.ipol.im/">IPOL journal</a>. BioPOL is editorially independent, and its editors make their own decisions, independent of the IPOL journal. All editorial decisions are made by The French Institute of Bioinformatics (IFB). IFB is a national service infrastructure in bioinformatics that was created following the call for proposals, “National Infrastructures in Biology and Health”, of the “Investments for the Future” initiative (ANR-11-INBS-0013).</p>

	<p>This project gathers together the bioinformatics platforms of the main French research organizations, <a href="http://www.cnrs.fr/">CNRS</a>, <a href="http://www.inra.fr/">INRA</a>, <a href="http://www.inria.fr/">INRIA</a>, <a href="http://ceasciences.fr/en/index.php">CEA</a> and <a href="http://www.inserm.fr/">INSERM</a> as well as <a href="http://www.cirad.fr/">CIRAD</a> the <a href="http://www.pasteur.fr/fr">Pasteur</a> and <a href="http://curie.fr/">Cuire</a>, and the French universities. There are currently 30 <a href="http://www.france-bioinformatique.fr/?q=en/platforms">platforms</a> grouped into six regional centers that span the whole of France.</p>
       
        <p>IFB's principal mission is to provide basic <a href="http://www.france-bioinformatique.fr/?q=en/services">services</a> and resources in bioinformatics for scientists and engineers working in the life sciences.</p>

	<p>If you'd like to <b>suggest improvements</b> to the site (anything!) please contacte us. We'll do our best to fix any bugs right away, or to consider adding new features. If you prefer to contact us by email, please write us at <a href="mailto:contact@groupes.france-bioinformatique.fr ">contact@groupes.france-bioinformatique.fr </a>.</p>
</div>
</div><!--/row fluid-->
{% endblock %}



